html,
body {
    height: 100%;
    background-color: #555;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*顶部*/
header{display:block;margin-bottom: 20px;}

/*文章-首页*/
.article-default-index>.container{}
/*文章列表 默认样式，显示内容*/
.articles-default{}
/*文章列表 正文*/
.articles-default .article{}
.articles-default .article .title{font-size: 18px;padding-bottom: 1em;}
.articles-default .article .banner{ /*正文通栏广告图片*/
        width:100%; border-radius: 6px;
        -webkit-box-shadow:0 0 6px  #aaa;  
        -moz-box-shadow:0 0 6px  #aaa;  
        box-shadow:0 0 6px  #aaa;  
}
/*评论*/
.comments-default .avatar{width:100%;}


